body {
    box-sizing: border-box;
    width: 80%;
    /* background: black; */
    background: url('../images/star-wars-background.jpg');
    color: white;
    margin: 0 auto;
    font-family: 'Lekton';
}


#logo {
    display: block;

    margin: 20px auto 20px auto;
}

/* FIGHTER IMAGES */

img {
    height: 140px;
}


.characters {
    text-align: center;
    margin-bottom: 20px;
    
}

.fighter {
    display: inline-block;
    padding: 10px;
    border: 1px solid white;
    height: 200px;
    width: 150px;
    background:black;
}


.fighter p {
    margin-top: 10px;
}

.fighter-top {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* --- FIGHT ZONE ---- */


.container {
    text-align: center;
}

.fight-section {
    height: 275px;
    padding-top: 20px;
}

.fight-section h2 {
    margin-bottom: 20px;
}


#user-stats,
#enemy-stats {
    padding-top: 10px;
    font-size: 24px;
}


#user-box,
#enemy-box {
    border: 1px solid white;
    display: inline-block;
    background: black;
}

 #enemy,
 #user,
 #user-stats,
 #enemy-stats {
    /* border: 1px solid white; */
    display: inline-block;
} 

#user-container,
#enemy-container {
    /* border: 1px solid white; */
    height: 200px;
    width: 150px;
    
}

#attack {
    /* border: 1px solid white; */
    display: inline-block;
    padding-top: 100px;
}



.message {
    /* border: 1px solid white; */
    float: right;
    height: 300px;
    width: 400px;
    position: absolute;
    right: -100px;
    top: 50px;
    padding-top: 120px;
    color: yellow;
}

.message h2 {
    font-size: 30px;
}

.message p {
    font-size: 16px;
}

.rules {
    /* float: left; */
    height: 300px;
    width: 400px;
    position: absolute;
    left: -100px;
    top: 50px;
    padding: 30px 5px;
    color: yellow;
    border: 1px solid yellow;
    line-height: 1.5;
}

.rules p {
    font-size: 18px;
}
.characters {
    position: relative;
}
